.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    padding: 0 1.25rem; /* Padding horizontal untuk ponsel */
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  
  .heading {
    font-size: 1.875rem; /* text-3xl */
    font-weight: 600; /* font-semibold */
    text-align: center; /* Tengah di ponsel */
    padding-top: 40px;

  }
  
  .paragraph {
    font-size: 1.125rem; /* text-lg */
    margin-top: 0.75rem; /* mt-3 */
    text-align: center; /* Tengah di ponsel */
  }
  
  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem; /* mt-4 */
  }
  
  .image {
    width: 80%;
    height: auto;
  }
  
  /* Responsif untuk Tablet dan Lebih Besar */
  @media (min-width: 768px) {
    .container {
      padding: 0 2rem; /* Padding horizontal untuk tablet */
    }
  
    .heading,
    .paragraph {
      text-align: center; /* Tengah di tablet */
          padding-top: 50px;
    }
  
    .imageWrapper {
      margin-top: 1rem; /* margin-top untuk tablet */
      width: 100%; /* Lebar penuh di tablet */
    }
  }
  
  /* Responsif untuk Desktop dan Lebih Besar */
  @media (min-width: 1000px) {
    .container {
      flex-direction: row;
      padding: 0; /* Hapus padding horizontal pada desktop */
    }
  
    .content {
      flex: 1;
      text-align: left; /* Kiri di desktop */
      margin-top: 3rem;
    }
  
    .imageWrapper {
      margin-top: 0;
      width: 33.333%; /* w-1/3 */
      margin-left: 1.25rem; /* ml-5 */
    }
  
    .heading,
    .paragraph {
      text-align: left; /* Kiri di desktop */
    }
  }
  